<%= form_for @atribuicao, :builder => MNE::TwitterBootstrapFormBuilder::FormBuilder, :html => { :class => "form-horizontal" } do |f| %>
  <%= f.text_field :nome %>
  <%= f.text_field :chave %>
  <div class="control-group">
    <%= f.label :tipoRegistro_id, :class => 'control-label' %>
    <div class="controls">
      <%= select("post", "tipoRegistro_id", TipoRegistro.all.collect {|t| [ t.nome, t.id ] }, {include_blank: 'Selecione'}) %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                atribuicaos_path, :class => 'btn' %>
  </div>
<% end %>
