<%= form_for @user, :builder => MNE::TwitterBootstrapFormBuilder::FormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.text_field :email, :class => 'text_field' %>
  <%= f.password_field :password, :autocomplete => "off" %>
  <%= f.password_field :password_confirmation %>

  <% if current_user.admin? %>
	<%= f.check_box :admin %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>

<% end %>
