<%= form_for @cidade, :builder => MNE::TwitterBootstrapFormBuilder::FormBuilder, :html => { :class => "form-horizontal" } do |f| %>
      <%= f.text_field :nome %>
      <%= f.text_field :sigla %>
	  <%= f.collection_select :estado_id, Estado.all, :id, :nome %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cidades_path, :class => 'btn' %>
  </div>
<% end %>
