<script type="text/javascript">
function carregar_cidades_div(estado_id) {
	jQuery.ajax({
		url : "/update_cidades",
		type : "GET",
		dataType : "json",
		contentType : "application/json",
		data : {
			"estado_id" : estado_id
		},
		success : function(data) {
			var select = jQuery('#cartorio_cidade_id');
			var options = null;
			if(select.prop)
				options = select.prop('options');
			else
				options = select.attr('options');
			var temp = options[0];			
			$('option', select).remove();
			options[options.length] = temp;
			if (!$.isArray(data))
				data = [data];
			$.each(data, function(pos, obj) {
				options[options.length] = new Option(obj.nome, obj.id)
			});
		}
	});
}

function carregar_atribuicoes_div(tipoRegistro_id) {
	jQuery.ajax({
		url : "/update_atribuicoes",
		type : "GET",
		dataType : "json",
		contentType : "application/json",
		data : {
			"tipoRegistro_id" : tipoRegistro_id
		},
		success : function(data) {
			var select = jQuery('#cartorio_atribuicao_id');
			var options = null;
			if(select.prop)
				options = select.prop('options');
			else
				options = select.attr('options');
			var temp = options[0];			
			$('option', select).remove();
			options[options.length] = temp;
			if (!$.isArray(data))
				data = [data];
			$.each(data, function(pos, obj, a, b) {
				options[options.length] = new Option(obj.nome, obj.id);
			});
		}
	});
}
</script>
<%= form_for @cartorio, :builder => MNE::TwitterBootstrapFormBuilder::FormBuilder, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.text_field :codigo, :class => 'text_field' %>
      <%= f.text_field :nome, :class => 'text_field' %>
	  <div class="control-group">
	    <%= f.label :tipoRegistro_id, :class => 'control-label' %>
	    <div class="controls">
	  		<%= collection_select(:tipoRegistro_id, :tipoRegistro_id, @tipoRegistros, :id, :nome, {:prompt => true}, :onchange => "carregar_atribuicoes_div(this.value)")  %>
	    </div>
	  </div>
	  <%= f.collection_select :atribuicao_id, @atribuicoes, :id, :nome, {:prompt => true} %>
	  <%= f.collection_select :comarca_id, @comarcas, :id, :nome, {:prompt => true} %>
	  <div class="control-group">
	    <%= f.label :estado_id, :class => 'control-label' %>
	    <div class="controls">
	  		<%= collection_select(:estado_id, :estado_id, @estados, :id, :nome, {:prompt => true}, :onchange => "carregar_cidades_div(this.value)")  %>
	    </div>
	  </div>
	  <%= f.collection_select :cidade_id, @cidades, :id, :nome, {:prompt => true} %>
      <%= f.text_field :bairro, :class => 'text_field' %>
      <%= f.text_field :rua, :class => 'text_field' %>
      <%= f.text_field :numero, :class => 'text_field' %>
      <%= f.text_field :complemento, :class => 'text_field' %>
      <%= f.text_field :cep, :class => 'text_field' %>
      <%= f.text_field :telefone, :class => 'text_field' %>
      <%= f.text_field :celular, :class => 'text_field' %>
      <%= f.text_field :email, :class => 'text_field' %>
      <%= f.text_field :historico, :class => 'text_field' %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cartorios_path, :class => 'btn' %>
  </div>
<% end %>
