<script type="text/javascript">
    function abrirPopup() {
        var url = 'http://54.232.244.242/jasperserver/flow.html?_flowId=viewReportFlow&reportUnit=/reports/siredoc/etiquetas_6182_6282&j_username=siredoc&j_password=siredoc123&output=pdf'
        var valorNome = $('#nome').val();
        var comarca_nome = $('#comarca_nome').val();
        var cidade_nome = $('#cidade_nome').val();
        var atribuicao_nome = $('#atribuicao_nome').val();
        var tipoRegistro_nome = $('#tipoRegistro_nome').val();
        url += '&Nome='+valorNome;
        url += '&ComarcaNome='+comarca_nome;
        url += '&CidadeNome='+cidade_nome;
        url += '&AtribuicaoNome='+atribuicao_nome;
        url += '&TipoRegistroNome='+tipoRegistro_nome;
        window.open(url, '_blank');
    }
</script>

<%- model_class = Cartorio -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<%= form_tag cartorios_path, :builder => MNE::TwitterBootstrapFormBuilder::FormBuilder, :html => { :class => 'form-horizontal' }, :method => 'get' do %>
    <div class="container">
        <div class="row">
          <div class="span3">
            <label class="control-label" for="nome">Nome</label>
            <%= text_field_tag :nome, params[:nome], :class=>"input-xlarge" %>
          </div>
          <div class="span3">
            <label class="control-label" for="comarca_nome">Comarca</label>
            <%= text_field_tag :comarca_nome, params[:comarca_nome], :class=>"input-xlarge" %>
          </div>
          <div class="span3">
            <label class="control-label" for="cidade_nome">Cidade</label>
            <%= text_field_tag :cidade_nome, params[:cidade_nome], :class=>"input-xlarge" %>
          </div>
        </div>
      <div class="row">
        <div class="span3">
          <label class="control-label" for="atribuicao_nome">Atribuição</label>
          <%= text_field_tag :atribuicao_nome, params[:atribuicao_nome], :class=>"input-xlarge" %>
        </div>
        <div class="span3">
          <label class="control-label" for="tipoRegistro_nome">Registro</label>
          <%= text_field_tag :tipoRegistro_nome, params[:tipoRegistro_nome], :class=>"input-xlarge" %>
        </div>
        <div class="span3">
          <label class="control-label" for="associado">Associado</label>
          <%= select_tag :associado, options_for_select([["Selecione", ""], ["Sim", true], ["Não", false]]) %>
        </div>
        <div class="span2">
          <br/>
          <%= submit_tag "Pesquisar", :class => 'btn btn-inverse' %>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        $(function() {

            <% if @associado_param != nil && @associado_param != '' %>
            $('#associado').val('<%= @associado_param %>');
            <% end %>

        });
    </script>

<% end %>
<div class="page_info">
  <hr style="margin: 5px">
  <div class="container">
    <div class="row">
      <div class="span11" >
        <%= page_entries_info @cartorios %>
      </div>
    </div>
  </div>
  <hr style="margin: 5px">
</div>
<%= will_paginate @cartorios, :class => 'apple_pagination' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:tipoRegistro) %></th>
      <th><%= model_class.human_attribute_name(:atribuicao) %></th>
      <th><%= model_class.human_attribute_name(:telefone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:comarca_id) %></th>
      <th><%= model_class.human_attribute_name(:cidade_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cartorios.each do |cartorio| %>
      <tr>
        <td><%= link_to cartorio.id, cartorio_path(cartorio) %></td>
        <td><%= cartorio.nome %></td>
        <td><%= cartorio.atribuicaos == nil || cartorio.atribuicaos.last == nil ? 'Não informado' : cartorio.atribuicaos.last.tipoRegistro.nome %></td>
        <td><%= cartorio.atribuicaos == nil || cartorio.atribuicaos.last == nil ? 'Não informado' : cartorio.atribuicaos.map(&:nome).join(', ') %></td>
        <td><%= cartorio.telefone %></td>
        <td><%= cartorio.email %></td>
        <td><%= cartorio.comarca_id == nil ? 'Não informado' : cartorio.comarca.nome %></td>
        <td><%= cartorio.cidade_id == nil ? 'Não informado' : cartorio.cidade.nome %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_cartorio_path(cartorio), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cartorio_path(cartorio),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="form-actions">
		<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_cartorio_path,
    	        :class => 'btn btn-inverse' %>
    &nbsp;<a target="_blank" href="#" onclick="abrirPopup()"
             class="btn btn-inverse">Imprimir Etiquetas</a>
  </div>
