<script type="text/javascript">
    function abrirPopup() {
        var url = 'http://54.232.244.242/jasperserver/flow.html?_flowId=viewReportFlow&reportUnit=/reports/siredoc/etiquetas_6182_6282&j_username=siredoc&j_password=siredoc123&output=pdf'
        var valorFiltro = $('#search').val();
        url += '&Filtro='+valorFiltro;
        window.open(url, '_blank');
    }
</script>

<%- model_class = Cartorio -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<%= form_tag cartorios_path, :builder => MNE::TwitterBootstrapFormBuilder::FormBuilder, :html => { :class => 'form-horizontal' }, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>&nbsp;
      <%= submit_tag "Pesquisar", :nome => nil, :class => 'btn btn-inverse' %>
    &nbsp;<a target="_blank" href="#" onclick="abrirPopup()"
       class="btn btn-inverse">Imprimir Etiquetas</a>
<% end %>
<div class="page_info">
  <%= page_entries_info @cartorios %>
</div>
<%= will_paginate @cartorios, :class => 'apple_pagination' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:tipoRegistro) %></th>
      <th><%= model_class.human_attribute_name(:atribuicao) %></th>
      <th><%= model_class.human_attribute_name(:telefone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:comarca_id) %></th>
      <th><%= model_class.human_attribute_name(:cidade_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cartorios.each do |cartorio| %>
      <tr>
        <td><%= link_to cartorio.id, cartorio_path(cartorio) %></td>
        <td><%= cartorio.nome %></td>
        <td><%= cartorio.atribuicaos == nil || cartorio.atribuicaos.last == nil ? 'Não informado' : cartorio.atribuicaos.last.tipoRegistro.nome %></td>
        <td><%= cartorio.atribuicaos == nil || cartorio.atribuicaos.last == nil ? 'Não informado' : cartorio.atribuicaos.map(&:nome).join(', ') %></td>
        <td><%= cartorio.telefone %></td>
        <td><%= cartorio.email %></td>
        <td><%= cartorio.comarca_id == nil ? 'Não informado' : cartorio.comarca.nome %></td>
        <td><%= cartorio.cidade_id == nil ? 'Não informado' : cartorio.cidade.nome %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_cartorio_path(cartorio), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cartorio_path(cartorio),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem certeza?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="form-actions">
		<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_cartorio_path,
    	        :class => 'btn btn-inverse' %>
  </div>
