<%= form_for @comarca, :builder => MNE::TwitterBootstrapFormBuilder::FormBuilder, :html => { :class => "form-horizontal" } do |f| %>
      <%= f.text_field :nome %>
      <%= f.text_field :chave %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                comarcas_path, :class => 'btn' %>
  </div>
<% end %>
